# Maven
**/target/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.iml

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar

# Java
*.class
*.war
*.ear
*.nar

# JVM crash logs
hs_err_pid*
replay_pid*
